body
{
    background-color: black;
    color: white;
    font-family: 'Anonymous Pro', monospace;
}

a:link 
{
  color: #f2ff3d;
  background-color: transparent;
  text-decoration: none;
}

a:visited 
{
  color: #f2ff3d;
  background-color: transparent;
  text-decoration: none;
}

a:hover 
{
  color: #f5fe81;
  background-color: transparent;
  text-decoration: underline;
}

a:active 
{
  color: #f5fe81;
  background-color: transparent;
  text-decoration: underline;
}
