
body {
	background-color: #212121;
}

#wall-container {
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#wall-container img {
	min-height: 200px;
	max-height: 400px;

	background-color: #3d3d3d;

	box-shadow: 10px 10px #101010;
	vertical-align: center;
	margin: 10px;
	padding: 10px;

	animation: float 1s ease-in-out infinite;
}






@keyframes float {
	0% {
		box-shadow: 10px 10px #101010;
		transform: translatey(0px);
	}
	50% {
		box-shadow: 12px 12px #101010;
		transform: translatey(-3px);
	}
	100% {
		box-shadow: 10px 10px #101010;
		transform: translatey(0px);
	}
}